/* admonition demo */
.md-typeset .admonition.demo,
.md-typeset details.demo {
    border-color: rgb(43, 155, 70);
}
.md-typeset .demo > .admonition-title,
.md-typeset .demo > summary {
    background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .demo > .admonition-title::before,
.md-typeset .demo > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--demo);
            mask-image: var(--md-admonition-icon--demo);
}
/* admonition exercise */
.md-typeset .admonition.exercise,
.md-typeset details.exercise {
    border-color: rgb(252, 148, 3);
}
.md-typeset .exercise > .admonition-title,
.md-typeset .exercise > summary {
    background-color: rgba(252, 148, 3, 0.1);
}
.md-typeset .exercise > .admonition-title::before,
.md-typeset .exercise > summary::before {
    background-color: rgb(252, 148, 3);
    -webkit-mask-image: var(--md-admonition-icon--exercise);
            mask-image: var(--md-admonition-icon--exercise);
}
/* admonition remark */
.md-typeset .admonition.remark,
.md-typeset details.remark {
    border-color: rgb(68, 138, 255);
}
.md-typeset .remark > .admonition-title,
.md-typeset .remark > summary {
    background-color: rgba(68, 138, 255, 0.1);
}
.md-typeset .remark > .admonition-title::before,
.md-typeset .remark > summary::before {
    background-color: rgb(68, 138, 255);
    -webkit-mask-image: var(--md-admonition-icon--remark);
            mask-image: var(--md-admonition-icon--remark);
}
/* admonition solution */
.md-typeset .admonition.solution,
.md-typeset details.solution {
    border-color: rgb(52, 23, 218);
}
.md-typeset .solution > .admonition-title,
.md-typeset .solution > summary {
    background-color: rgba(52, 23, 218, 0.1);
}
.md-typeset .solution > .admonition-title::before,
.md-typeset .solution > summary::before {
    background-color: rgb(52, 23, 218);
    -webkit-mask-image: var(--md-admonition-icon--solution);
            mask-image: var(--md-admonition-icon--solution);
}
